/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License") +  you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 * {
 	box-sizing: initial; /*reset bootstrap box sizing*/
 }

 .clear {
 	clear: both;
 }
 .clickable {
 	cursor: pointer;
 }

 .add.om-icon {
 	background-image: url(images/add.png);
 }

 .om-icon {
 	background-repeat: no-repeat !important;
 	background-position: 0 0 !important;
 	background-size: 16px;
 	width: 18px;
 	height: 18px;
 	border: none;
 	margin-left: 2px;
 	margin-top: 2px;
 	display: inline-block !important;
 }
 .om-icon.big {
 	background-size: 32px;
 	background-position: 1px 1px !important;
 	width: 34px;
 	height: 34px;
 }

.wb.area {
    position: absolute;
    width:1153px;
    height:610px;

}

.wb.area.ui-state-hover {
	border: 0;
}
.wb.area.ui-state-hover .wb-area {
	visibility: hidden;
	height: 1px !important;
}

.wb.area .wb-drop-area {
    display: none;
    position: absolute;
    top:0px;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255, 0.8);
}
.wb.area .wb-drop-area.is-dragover, .wb.area.is-dragover .wb-drop-area {
    display: flex;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}


.wb-area {
    width:1153px;
    height:610px;
}

.settings.ui-icon, .settings.om-icon {
    background-image: url(images/settings.png);
}

.wb.area.ui-state-hover .wb-drop-area {
	background-image: url(images/drop.png);
	display: block;
	background-repeat: no-repeat;
	height: inherit;
	background-position: center;
}
.wb.area .tabs {
    border-radius: 0px;
}

.wb.area .tabs.ui-tabs, .wb.area .ui-tabs-panel {
	padding: 0;
	background-color:transparent;
}

.wb.area .ui-tabs-panel {
	position: relative;
    padding-right: 38px;
}
.wb.area .tools {
	position: relative;
	display: inline-block;
	border: 0;
}
.wb.area .tools .bumper {
	float: left;
	display: inline-block;
	background: repeating-linear-gradient(-45deg, transparent, transparent 3px, gray 3px, gray 5px);
}
.wb.area .tools.vertical .bumper {
	width: 38px;
	height: 20px;
}
.wb.area .tools.horisontal .bumper {
	width: 20px;
	height: 38px;
}
.wb.area .tools.vertical {
	width: 38px;
	height: 563px;
}
.wb.area .tools.readonly.vertical {
	width: 38px;
	height: 60px;
}
.wb.area .tools.horisontal {
	width: 563px;
	height: 38px;
}
.wb.area .tools.readonly.horisontal {
	width: 60px;
	height: 38px;
}
.wb.area .tools .om-icon.big {
	float: left;
	vertical-align: top;
}
.wb.area .tools .om-icon.big.active {
	background-color: whitesmoke;
}
.wb.area .tools .om-icon.big.paint {
	background-image: url(images/paintbrush.png);
}
.wb.area .tools .om-icon.big.pointer {
	background-image: url(images/pointer.png);
}
.wb.area .tools .om-icon.big.apointer {
	background-image: url(images/wbpointer.png);
}
.wb.area .tools .om-icon.big.line {
	background-image: url(images/line.png);
}
.wb.area .tools .om-icon.big.uline {
	background-image: url(images/uline.png);
}
.wb.area .tools .om-icon.big.rect {
	background-image: url(images/rectangle.png);
}
.wb.area .tools .om-icon.big.ellipse {
	background-image: url(images/ellipse.png);
}
.wb.area .tools .om-icon.big.text {
	background-image: url(images/font.png);
}
.wb.area .tools .om-icon.big.arrow {
	background-image: url(images/arrow.png);
}
.wb.area .tools .om-icon.big.clear-all {
	background-image: url(images/cancel.png);
}
.wb.area .tools .om-icon.big.clear-slide {
	background-image: url(images/page_delete.png);
}
.wb.area .tools .om-icon.big.save {
	background-image: url(images/file_save_as.png);
}
.wb.area .tools .om-icon.big.undo {
	background-image: url(images/arrow_undo.png);
}
.wb.area .om-icon.big.next {
	background-image: url(images/next.png);
}
.wb.area .om-icon.big.prev {
	background-image: url(images/prev.png);
}


.dropdown-menu.om-left {
	right: 0;
	left: auto !important;
}
.open>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}


.wb-tabbar {
	padding-left: 50px;
	padding-right: 35px;
}

.wb-tabbar .scroll-container {
	overflow: hidden;
}
.wb-tabbar .scroll-container .scrollable, .wb-tabbar .scroll-container .scrollable li {
	display: flex;
}
.wb-tabbar .add.disabled, .wb-tabbar .prev.disabled, .wb-tabbar .next.disabled {
	opacity: .3;
}
.wb-tabbar .add, .wb-tabbar .prev, .wb-tabbar .next {
	position: absolute;
	top: 3px;
}
.wb-tabbar .add {
	left: 2px;
}
.wb-tabbar .prev {
	left: 35px;
}
.wb-tabbar .next {
	right: 2px;
}
.wb-tabbar li button {
	width: 20px;
	height: 20px;
	padding: 0;
}
.wb-area .ui-tabs-panel .scroll-container {
	overflow: auto;
    padding-right:100px;
}
.wb-area .ui-tabs-panel .scroll-container .canvas-container {
	margin-top: 5px;
	margin-left: 5px;
	border: 1px solid #888888;
	box-shadow: 5px 5px 5px #888888;
}
.wb-area .wb-zoom {
	display: inline-block;
	padding: 1px 10px;
	border-radius: 2px;
	position: absolute;
	cursor: default;
}
.wb-area .wb-zoom, .wb-area .wb-zoom .btn-group button {
	background-color: grey;
	line-height: 12px;
	font-size: 12px;
}
.wb-area .wb-zoom .block {
	display: inline-block;
}
.wb-area .wb-zoom button {
	width: 28px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 5px 0px;
}
.wb-area .wb-zoom input {
	width: 50px
}
.wb-area .wb-zoom button.down {
	background-image: url(images/page_down.png);
}
.wb-area .wb-zoom button.up {
	background-image: url(images/page_up.png);
}
